%h1
  .header
    = @doc.title
%p= @doc.content

%table{ class: 'doc-btns-table' }
  %tr
    %td
      = link_to "All Docs", docs_path
    %td
      = link_to "Fix Doc", edit_doc_path(@doc)
    %td
      = link_to "Trash It", doc_path(@doc), method: :delete, data: { confirm: "Are you sure?" }